<section class='create-article container d-flex flex-column align-items-center pt-4'>
  <h1 class='text-center mb-3'>Create An Article!</h1>
  <div class="article-form wrapper w-50">
    <%= form_with model: Article do |f| %>
      <div class="form-group pb-3">
        <%= f.label :title, class: 'mb-1' %>
        <%= f.text_field :title, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group pb-3">
        <%= f.label :content, class: 'mb-1' %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>

      <div class="form-group pb-3 d-flex flex-column">
        <%= f.label :image, class: 'mb-1' %>
        <%= f.file_field :image, class: 'form-control-file' %>
      </div>

      <%= f.fields_for :categories do |c| %>
        <%= c.label :name, 'Select categories', class: 'mb-1' %> <br>
        <div class="d-flex form-group justify-content-between mb-3">
          <%= c.select :name, options_for_select([['Select', nil], 'Video Games', 'Computers', 'Phones', 'Robotics']), {}, { class: 'form-control' } %>
        </div>
      <% end %>

      <%= f.submit 'Create', class: 'btn btn-success w-100' %>
    <% end %>
  </div>
</section>
