<div class="container articles pt-5">
  <div class='title text-center mb-5 text-light-orange'><%= @article.title %></div>
  <div class="article-image">
    <%= image_tag @article.image, class: 'w-100 mb-3' %>
  </div>
  <div class='info-group d-flex justify-content-between p-2 text-light-orange'>
    <span class="time">
      Created on: 
      <%= @article.created_at.strftime("%m/%d/%Y") %>
    </span>
    <span class="category">
      Categories: 
      <%= @article.categories.first.name %>
    </span>
    <br>
    <span><%= vote_or_unvote(@article) %> <%= @article.votes.count %></span>
  </div>
  <p class='content p-3'><%= @article.content %></p>
</div>